<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/jdbc
    http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

	<context:component-scan base-package="org.company" />
		
	<context:annotation-config/>
	
	<mvc:annotation-driven />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
	</bean>
     
    <bean id="servletDbDao" class="org.company.dao.ServletDbDaoImpl" />
    <bean id="servletDbService" class="org.company.service.ServletDbServiceImpl" />
     
	<mvc:resources mapping="/js/**" location="/WEB-INF/view/js/" />

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
          <!--  <property name="driverClassName" value="${dataSource.driverClassName}"/> -->
         <!--   <property name="url" value="${dataSource.url}"/>
           <property name="username" value="${dataSource.username}"/>
           <property name="password" value="${dataSource.password}"/> -->
             <property name="url" value="jdbc:postgresql://localhost:8081/postgres"/>
           <property name="username" value="postgres"/>
           <property name="password" value="root"/>
	</bean>
</beans>